# ==========================
# Python
# ==========================

venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python caches
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Git
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Build files
# ==========================

build/
dist/

# ==========================
# Frontend (React)
# ==========================

frontend/node_modules/
frontend/dist/

# ==========================
# Docker
# ==========================

*.tar

# ==========================
# Model cache (optional)
# ==========================

*.pkl